#main-card {
    border: 1px solid lightgray;
}

#title {
    font-family: "Georgia", serif;
    font-size: 140px; 
    color:white 
}
#titleNew {
    font-family: "Georgia", serif;
    font-size: 80px; 
    color:white
}

#to-page {
    font-size: 50px;
    color: #620808;
    border-width :4px;background-color:white;padding-right:130px;padding-left:130px;padding-top:8px;padding-bottom:8px;
}

#to-intro {
    font-size: 50px;
    color: #620808;
    border-width :4px;background-color:white;padding-right:18px;padding-left:18px;padding-top:8px;padding-bottom:8px;
}

main {
    padding-top: 120px;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

#para {
    place-items: absolute;
    left: 200px;
    margin-right: 100px;
    margin-left: 100px;
    font-size: 25px;
    color:white
}
img {
    max-width: 50%;
    height: auto;
  }

  
