#tamuTitle {
  font-family: "Stencil Std", "fantasy"; 
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-top: 5vh;
}

main {
  min-height: 100vh;
  background-color: #620808;
  display: grid;
  place-items: center;
  background-image: url("zebra.png");
}

#gameboard {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  
  background-color: #d9d9d9; 
  border-radius: 6px;
  margin: 3px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: background-color 0.3s, border 0.3s; 
}


.filled-box {
  border: 5px solid #d9d9d9; 
}


.letter-row {
  font-size: 15px;
  color: black;
  display: flex;
  justify-content: center; 
  margin-bottom: 10px; 
}



.green {
  background-color: green;
  color: white;
}



.yellow {
  background-color: yellow;
  color: black;
}



.grey {
  background-color: grey;
  color: white;
}

#to-page {
  font-size: 30px;
  color: #620808;
  border-width:4px;background-color:white;padding-right:18px;padding-left:18px;
  margin-top: -200px;
}


img {
  max-width: 50%;
  height: auto;
}

.alert-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.alert-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  position: relative;
}

.alert-content img {
  margin: 20px 0;
}

